- large = 3
- medium = 4

form#user-new.bounded-box(action='/user', method='POST')
  h4 New User
  .row.no-edge-gutter
    .column(class="medium-#{medium} large-#{large}")
      input#username(name='username', type='text', placeholder='Username')
    .column(class="medium-#{medium} large-#{large}")
      input#email(name='email', type='email', placeholder='Email')
    .column(class="medium-#{medium} large-#{large}")
      input#dob(name='dob', type='text', placeholder='DOB')
    .clearfix
    .column(class="medium-#{medium} large-#{large}")
      input#password(name='password', type='password', placeholder='Password')
    .column(class="medium-#{medium} large-#{large}")
      input#password-confirmation(name='passwordConfirmation', type='password', placeholder='Re-password')
    .column.end(class="medium-#{medium} large-#{large}")
      button.button(type='submit')
        i.fi-page-add
        = ' Create'
      a.button.alert(href="/#user")
        i.fi-x
        = ' Cancel'
